@import '../../library/bootstrap/css/bootstrap.min.css';

.searchbox label {
	display:inline-block;
	margin-right:10px;
	position:relative;
	top:3px;
}
.searchbox > label:last-child {
	margin-right:20px;
}
.daworks_church_library_latest_table {
	font-size:13px;
}
.daworks_church_library_table {
	font-size:13px;
	letter-spacing:-0.03em;
}
